{% extends "base.html" %} {% block content %}

<div style="background:transparent !important" class="jumbotron">
    <h1>Welcome! Here's what Endemic Radio is all about</h1>
</div>

<div class="container-fluid">

<div  class="jumbotron">
    <h2>Supporting Local Artists!</h2>
</div>
    <div class="jumbotron">
    <h2>Supporting Local Music!</h2>
</div>

    <div  class="jumbotron">
    <h1>Website developed with:</h1>
        <h2>Django, Bootstrap, Heroku, Ubuntu, Spotify, and domain.com</h2>

    </div>

    <div class="jumbotron">
        <h1>Radio developed with:</h1>
        <h2>Raspberry Pi, Ender 3D printer, Inventor, and Cura</h2>
    </div>

    <div class="jumbotron">
        <h1>Credits: </h1>
        <h2>Thanks to Bensound for the music </h2>
    </div>
</div>
{% endblock content %}
