{% extends "base.html" %} {% block content %}

<div class="jumbotron">
   Welcome to Endemic Radio!! Click below to sign in or sign up for local music and art!
</div>

<div class="container-fluid">
<a class="btn btn-primary" href="/musicpage">
    Login
  </a>
</div>

<div class="jumbotron">
   What is Endemic Radio?
    It's a tool to help you find local artists and musicians in your area! Take our portable radio along with you anywhere and find local artists with the touch of a button!
</div>
{% endblock content %}
