{% extends "base.html" %}
{% block content %}

<script src="https://unpkg.com/masonry-layout@4/dist/masonry.pkgd.min.js"></script>
<script src="https://unpkg.com/imagesloaded@4/imagesloaded.pkgd.min.js"></script>
<script src="https://unpkg.com/infinite-scroll@3/dist/infinite-scroll.pkgd.js"></script>

<div class="grid">
  <div class="grid__col-sizer"></div>
  <div class="grid__gutter-sizer"></div>
  <div class="grid__item"><img src="https://i.imgur.com/8AYv5Ik.jpg" /></div>
  <div class="grid__item"><img src="https://i.imgur.com/2jpy7yO.jpg" /></div>
  <div class="grid__item"><img src="https://i.imgur.com/qW7eNlI.jpg" /></div>
  <div class="grid__item"><img src="https://i.imgur.com/n3M06QP.jpg" /></div>
  <div class="grid__item"><img src="https://i.imgur.com/BNhGcqd.jpg" /></div>
  <div class="grid__item"><img src="https://i.imgur.com/TNmDTdL.jpg" /></div>
  <div class="grid__item"><img src="https://i.imgur.com/PRc06Uy.jpg" /></div>
  <div class="grid__item"><img src="https://i.imgur.com/hHYirXc.jpg" /></div>
  <div class="grid__item"><img src="https://i.imgur.com/2Qi40rJ.jpg" /></div>
  <div class="grid__item"><img src="https://i.imgur.com/hztiigA.jpg" /></div>
  <div class="grid__item"><img src="https://i.imgur.com/3AbaiOH.jpg" /></div>
  <div class="grid__item"><img src="https://i.imgur.com/plQzrOk.jpg" /></div>
  <div class="grid__item"><img src="https://i.imgur.com/uxYU1h3.jpg" /></div>
  <div class="grid__item"><img src="https://i.imgur.com/g4F6d2R.jpg" /></div>
  <div class="grid__item"><img src="https://i.imgur.com/s2Tqsfq.jpg" /></div>
</div>

<p><a class="pagination__next" href="/player?1">Next</a></p>

<div class="scroll-status">
  <div class="infinite-scroll-request">
    <div class="loader-ellips">
      <span class="loader-ellips__dot loader-ellips__dot--1"></span>
      <span class="loader-ellips__dot loader-ellips__dot--2"></span>
      <span class="loader-ellips__dot loader-ellips__dot--3"></span>
      <span class="loader-ellips__dot loader-ellips__dot--4"></span>
    </div>
  </div>
  <p class="infinite-scroll-error">No more pages to load</p>
  <p class="infinite-scroll-last">Last page loaded</p>
</div>

<script>
var msnry = new Masonry( '.grid', {
  itemSelector: 'none', // select no images on init
  columnWidth: '.grid__col-sizer',
  gutter: '.grid__gutter-sizer',
  percentPosition: true,
  stagger: 30,
  visibleStyle: {
    transform: 'translateY(0)',
    opacity: 1
  },
  hiddenStyle: {
    transform: 'translateY(100px)',
    opacity: 0,
  }
});

imagesLoaded( '.grid', function() {
  msnry.options.itemSelector = '.grid__item'; // select proper items
  document.querySelector('.grid').classList.add('are-images-ready');
  var items = document.querySelectorAll('.grid__item');
  msnry.appended( items );
});

var infScroll = new InfiniteScroll( '.grid', {
  path: '.pagination__next',
  append: '.grid__item',
  debug: true,
  outlayer: msnry,
  status: '.scroll-status',
  scrollThreshold: 1,
});
</script>

{% endblock content %}
