{% extends "base.html" %}
{% block content %}

<script src="https://unpkg.com/masonry-layout@4/dist/masonry.pkgd.min.js"></script>
<script src="https://unpkg.com/imagesloaded@4/imagesloaded.pkgd.min.js"></script>
<script src="https://unpkg.com/infinite-scroll@3/dist/infinite-scroll.pkgd.js"></script>

<div class="grid">
  <div class="grid__col-sizer"></div>
  <div class="grid__gutter-sizer"></div>
  <div class="grid__item"><img src="https://storage.cloud.google.com/endemicradio-media/{{locationUrl}}/Images/0.jpg" /></div>
  <div class="grid__item"><img src="https://storage.cloud.google.com/endemicradio-media/{{locationUrl}}/Images/1.jpg" /></div>
  <div class="grid__item"><img src="https://storage.cloud.google.com/endemicradio-media/{{locationUrl}}/Images/2.jpg" /></div>
  <div class="grid__item"><img src="https://storage.cloud.google.com/endemicradio-media/{{locationUrl}}/Images/3.jpg" /></div>
  <div class="grid__item"><img src="https://storage.cloud.google.com/endemicradio-media/{{locationUrl}}/Images/4.jpg" /></div>
  <div class="grid__item"><img src="https://storage.cloud.google.com/endemicradio-media/{{locationUrl}}/Images/5.jpg"/></div>
  <div class="grid__item"><img src="https://storage.cloud.google.com/endemicradio-media/{{locationUrl}}/Images/6.jpg" /></div>
  <div class="grid__item"><img src="https://storage.cloud.google.com/endemicradio-media/{{locationUrl}}/Images/7.jpg" /></div>
  <div class="grid__item"><img src="https://storage.cloud.google.com/endemicradio-media/{{locationUrl}}/Images/8.jpg" /></div>
  <div class="grid__item"><img src="https://storage.cloud.google.com/endemicradio-media/{{locationUrl}}/Images/9.jpg"/></div>
  <div class="grid__item"><img src="https://storage.cloud.google.com/endemicradio-media/{{locationUrl}}/Images/10.jpg" /></div>
  <div class="grid__item"><img src="https://storage.cloud.google.com/endemicradio-media/{{locationUrl}}/Images/11.jpg" /></div>
  <div class="grid__item"><img src="https://storage.cloud.google.com/endemicradio-media/{{locationUrl}}/Images/12.jpg" /></div>
  <div class="grid__item"><img src="https://storage.cloud.google.com/endemicradio-media/{{locationUrl}}/Images/13.jpg" /></div>
  <div class="grid__item"><img src="https://storage.cloud.google.com/endemicradio-media/{{locationUrl}}/Images/14.jpg"/></div>
  <div class="grid__item"><img src="https://storage.cloud.google.com/endemicradio-media/{{locationUrl}}/Images/15.jpg"/></div>
</div>

<p><a class="pagination__next" hidden href="/player/{{location}}2">Next</a></p>

<div class="scroll-status">
  <div class="infinite-scroll-request">
    <div class="loader-ellips">
      <span class="loader-ellips__dot loader-ellips__dot--1"></span>
      <span class="loader-ellips__dot loader-ellips__dot--2"></span>
      <span class="loader-ellips__dot loader-ellips__dot--3"></span>
      <span class="loader-ellips__dot loader-ellips__dot--4"></span>
    </div>
  </div>
  <p class="infinite-scroll-error">No more pages to load</p>
  <p class="infinite-scroll-last">Last page loaded</p>
</div>
{% endblock content %}
{% block player %}
<link rel="stylesheet" href="/static/audioplayer.css">
<script src="/static/audioplayer.js"></script>
<div class="player">
<script>
{% autoescape off %}
    var songs = {{songs}}['songs']
//https://www.jqueryscript.net/other/Clean-Audio-Player-jQuery.html
$(function() {
  $('audio').audioPlayer();
  console.log(songs[0]['url'])
});

var song = 1;
//https://stackoverflow.com/questions/9421505/switch-audio-source-with-jquery-and-html5-audio-tag
function change() {
    var audio = $("#jsPlay");
    var url = "https://storage.cloud.google.com/endemicradio-media/{{locationUrl}}/Music/"+songs[song]["url"];
    var info = songs[song]["artist"] + " - " + songs[song]["title"]
    var placeholder = "Placeholder from Bensound file is "+songs[song]["url"]
    console.log(url)
    audio.attr("src", url)

    console.log("Loading...")
    //audio.load()
    console.log("Playing...")
    document.getElementById('jsPlay').play();

    console.log("Setting info...")
    $("#info").text(info)
    $("#placeholderInfo").text(placeholder)
    song++;
}

</script>
<h5 id="info">{{startString}}</h5>
<h7 id="placeholderInfo">Placeholder from Bensound file is {{startUrl}}</h7>
<audio id="jsPlay" src="https://storage.cloud.google.com/endemicradio-media/{{locationUrl}}/Music/{{startUrl}}" preload="auto" onended="change()" controls></audio>
</div>
{% endautoescape %}
<script>
var msnry = new Masonry( '.grid', {
  itemSelector: 'none', // select no images on init
  columnWidth: '.grid__col-sizer',
  gutter: '.grid__gutter-sizer',
  percentPosition: true,
  stagger: 30,
  visibleStyle: {
    transform: 'translateY(0)',
    opacity: 1
  },
  hiddenStyle: {
    transform: 'translateY(100px)',
    opacity: 0,
  }
});

imagesLoaded( '.grid', function() {
  msnry.options.itemSelector = '.grid__item'; // select proper items
  document.querySelector('.grid').classList.add('are-images-ready');
  var items = document.querySelectorAll('.grid__item');
  msnry.appended( items );
});

var infScroll = new InfiniteScroll( '.grid', {
  path: '.pagination__next',
  append: '.grid__item',
  debug: true,
  outlayer: msnry,
  status: '.scroll-status',
  scrollThreshold: 1,
});
</script>

{% endblock player %}
