{% extends "base.html" %}
{% block content %}
<meta name="csrf-token" content="{{ csrf_token }}">

<div class="alert alert-danger" role="alert">
    <h5>Note that only Charlottesville and Richmond will work for this demo due to resource limitations.</h5>
</div>

<label for="selection">Choose a city:</label>

<script>
function getArtists(){
    var postfix = $("#selection option:selected").text().replace(" ","_").replace(",", "-");
    var addr = "/artists/"+postfix;
    $.get( addr, function( data ) {
        console.log(data);
        var text = "Listen to " + data['names'].toString().split(',').join(', ')
        text += ", and more!"
        console.log(text);
        $(dropNames).text(text)
        $('#playerGo').removeClass("disabled")
        $('#playerGo').attr("href", "/player/"+postfix)
    });
}
</script>

<form>
    {% csrf_token %}
    <select id="selection" onchange=getArtists()>
        <option disabled selected value> -- select an option -- </option>
        {% for location in locations %}
        <option value="{{ location.name }}">{{ location.name }}</option>
        {% endfor %}
    </select>
</form>

<p>Select a location to view artists!</p>
<p id="dropNames"></p>

<a id="playerGo" href="#" class="btn btn-primary disabled">Listen now!</a>

{% endblock content %}
