


main {
    padding-top:75px;

}
.roman {
 list-style-type: lower-roman;
}
.square {
 list-style-type: square;
 margin-left: -2em;
}
.main-container {
     
     min-height: 85vh; /* will cover the 100% of viewport */
     overflow: hidden;
     display: block;
     position: relative;
     padding-bottom: 60px; /* height of your footer */

}

.column {
  float: left;
  width: 33.33%;
  padding: 5px;
}

/* Clear floats after image containers */
.row::after {
  content: "";
  clear: both;
  display: table;
}

.footer {
    position: absolute;

    width: 100%;
    height: 60px;
    line-height: 60px;
    background-color: #ff9a42;
}

.head{
    background-color: #ff9a42;
}

.thumbnail {
    position: relative;
    padding-bottom: 50px;
}


@import "https://fonts.googleapis.com/css?family=Source+Serif+Pro";

.grid {
  max-width: 1200px;
}

/* reveal grid after images loaded */
.grid.are-images-unloaded {
  opacity: 0;
}

.grid__item,
.grid__col-sizer {
  width: 32%;
}

.grid__gutter-sizer { width: 2%; }

/* hide by default */
.grid.are-images-unloaded .image-grid__item {
  opacity: 0;
}

.grid__item {
  margin-bottom: 20px;
  float: left;
}

.grid__item--height1 { height: 140px; background: #EA0; }
.grid__item--height2 { height: 220px; background: #C25; }
.grid__item--height3 { height: 300px; background: #19F; }

.grid__item--width2 { width: 66%; }

.grid__item img {
  display: block;
  max-width: 100%;
}


.page-load-status {
  display: none; /* hidden by default */
  padding-top: 20px;
  border-top: 1px solid #DDD;
  text-align: center;
  color: #777;
}
